.section {
    padding-top: var(--padding-2xl);
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    /* Gradient Typography Support */
    background: var(--content-neutral--title);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    -webkit-text-fill-color: transparent !important;
    overflow-wrap: break-word;
    word-break: break-word;
    filter:
        drop-shadow(1px 1px 0 var(--stroke-content--title)) drop-shadow(1px -1px 0 var(--stroke-content--title)) drop-shadow(-1px 1px 0 var(--stroke-content--title)) drop-shadow(-1px -1px 0 var(--stroke-content--title)) drop-shadow(1px 0 0 var(--stroke-content--title)) drop-shadow(-1px 0 0 var(--stroke-content--title)) drop-shadow(0 1px 0 var(--stroke-content--title)) drop-shadow(0 -1px 0 var(--stroke-content--title));
}

.subtitle {
    color: var(--content-neutral--body);
    overflow-wrap: break-word;
    word-break: break-word;
}

.category {
    color: var(--content-brand--brand);
    overflow-wrap: break-word;
    word-break: break-word;
}