/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./components/footer-omnichannel.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.footer-omnichannel_footer__PmaF3 {
    width: 100%;
    padding: var(--padding-md) 0 0;
    color: var(--content-neutral--body-default);
}

.footer-omnichannel_leftColumn__DvhhM {
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
    height: 100%;
    justify-content: center;
}

.footer-omnichannel_logoSection__zH8Gn {
    display: flex;
    align-items: center;
    gap: var(--gap-lg);
    margin-bottom: var(--gap-xl);
    flex-wrap: wrap;
}

.footer-omnichannel_logoWrapper__I2QnY {
    width: 280px;
    height: 80px;
    position: relative;
}

.footer-omnichannel_image__sRMYm {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-omnichannel_column__FynSL {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    padding: var(--padding-md);
}

.footer-omnichannel_columnTitle__C7Jxx {
    color: var(--content-brand--brand);
    font-weight: 700;
}

.footer-omnichannel_linkList__6mzsn {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.footer-omnichannel_linkWrapper__T20Vr {
    width: 100%;
}

.footer-omnichannel_linkFooter__Ccdva {
    color: var(--content-neutral--body-default) !important;
    text-decoration: none;
    transition: color 0.2s;
    gap: 10px;
}

.footer-omnichannel_linkFooter__Ccdva:hover {
    color: var(--content-neutral--title-default) !important;
}

.footer-omnichannel_divider__nC_E1 {
    width: 100%;
    height: 1px;
    background-color: var(--stroke-neutral--neutral);
}

.footer-omnichannel_bottomBar__xUd1u {
    padding: 0;
    gap: var(--gap-md) 0;
}

.footer-omnichannel_copyright__VVVY3 {
    color: var(--content-neutral--caption);
    margin: 0;
}

.footer-omnichannel_legalLinks__r1zr5 {
    display: flex;
    gap: var(--gap-lg);
    justify-content: flex-start;
}

.footer-omnichannel_legalLink__T5XV6 {
    color: var(--content-neutral--caption) !important;
    text-decoration: none;
    transition: color 0.2s;
}

.footer-omnichannel_legalLink__T5XV6:hover {
    color: var(--content-neutral--body-default) !important;
}

@media (max-width: 768px) {
    .footer-omnichannel_bottomBar__xUd1u {
        text-align: left;
        padding: 0;
    }

    .footer-omnichannel_legalLinks__r1zr5 {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
