/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./components/media.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.media_container__8IkV8 {
    width: 100%;
    position: relative;
    padding: var(--padding-sm) 0;
}

.media_image__PeLKe {
    width: 100%;
    height: auto;
    display: block;
    border-radius: var(--border-radius-lg);
    overflow: hidden;
    isolation: isolate;
}
